/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #ff0000;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.imagens-even, .imagens-odd {
    width: 300px;
    height: auto;
}
.display-4 {
    color: brown;
    text-shadow: 2px 2px 5px black;
}
.imagens-even {
    float: right;
}
.imagens-odd {
    float: left;
}
.descricao-even {
    float: right;
}

.descricao-odd {
    float: left;
}

.linha {
    border-top:1px solid gray;
}

.imagem-proj-func {
    margin-bottom: 15px;
    overflow: hidden;
    height: 100px;
}



/* # Hero Section
----------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url(../Imagens-site/fundo.jpg) top center;
    background-size: cover;
    position: relative;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

#hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

    #hero .btn-get-started:hover {
        background: #2dc997;
        border: 2px solid #2dc997;
    }

/* # Hero Section - Clientes
---------------------------------*/
#hero-cliente {
    width: 100%;
    height: 100vh;
    background: url(../Imagens-site/fundo-cliente.jpg) top center;
    background-size: cover;
    position: relative;
}

@media (min-width: 1024px) {
    #hero-cliente {
        background-attachment: fixed;
    }
}

#hero-cliente:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero-cliente .hero-container-cliente {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero-cliente h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    #hero-cliente h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

#hero-cliente h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
}

@media (max-width: 768px) {
    #hero-cliente h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

#hero-cliente .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

    #hero-cliente .btn-get-started:hover {
        background: #2dc997;
        border: 2px solid #2dc997;
    }

/* # Hero Section - Funcionários
--------------------------------------*/
#hero-func {
    width: 100%;
    height: 100vh;
    background: url(../Imagens-site/fundo-func.jpg) top center;
    background-size: cover;
    position: relative;
}

@media (min-width: 1024px) {
    #hero-func {
        background-attachment: fixed;
    }
}

#hero-func:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero-func .hero-container-func {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero-func h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    #hero-cliente h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

#hero-func h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
}

@media (max-width: 768px) {
    #hero-func h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

#hero-func .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

    #hero-func .btn-get-started:hover {
        background: #2dc997;
        border: 2px solid #2dc997;
    }



/* About Us Section
--------------------------------*/
#about {
    background: #fff;
    padding: 80px 0;
}

#about .about-container .content {
    background: #fff;
}

#about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
}

@media (max-width: 768px) {
    #about .about-container .title {
        padding-top: 15px;
    }
}

#about .about-container p {
    line-height: 26px;
}

    #about .about-container p:last-child {
        margin-bottom: 0;
    }

#about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
}

    #about .about-container .icon-box .icon {
        float: left;
        background: #fff;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border-radius: 50%;
        border: 2px solid #2dc997;
    }

        #about .about-container .icon-box .icon i {
            color: #2dc997;
            font-size: 24px;
        }

    #about .about-container .icon-box .title {
        margin-left: 80px;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 18px;
        text-transform: uppercase;
    }

        #about .about-container .icon-box .title a {
            color: #111;
        }

    #about .about-container .icon-box .description {
        margin-left: 80px;
        line-height: 24px;
        font-size: 14px;
    }


/* Team Section
--------------------------------*/
#team {
    text-align: center;
    background: #fff;
    padding: 80px 0 60px 0;
}

    #team .member {
        text-align: center;
        margin-bottom: 20px;
    }

        #team .member .pic {
            margin-bottom: 15px;
            overflow: hidden;
            height: 380px;
        }

            #team .member .pic img {
                max-width: 100%;
            }

        #team .member h4 {
            font-weight: 700;
            margin-bottom: 2px;
            font-size: 18px;
        }

        #team .member span {
            font-style: italic;
            display: block;
            font-size: 13px;
        }

        #team .member .social {
            margin-top: 15px;
        }

            #team .member .social a {
                color: #b3b3b3;
            }

                #team .member .social a:hover {
                    color: #2dc997;
                }

            #team .member .social i {
                font-size: 18px;
                margin: 0 2px;
            }

.row {
    left: 50%;
}

#footer {
    background: #343b40;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
}

    #footer .copyright {
        text-align: center;
    }

    #footer .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #ccc;
    }